# ** Entorno Virual :
venv

# ** Bd :
db.sqlite3

# ** Archivos Cache :
__pycache__

# ** Archivos Migrations :
users/migrations
data/migrations

# ** Archivos de Datos 
data/analysis/resources

.vscode