.card-statistical {
    width: 450px;
    height: 200px;
    border: 3px solid #ff0303;
    border-radius: 40px;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.1);
}

.card-statistical:hover {
    background: #ff0303;
    color: #fff;
}

.card-statistical__icon {
    font-size: 18px;
}

.card-statistical__icon {
    font-size: 24px;
    font-weight: bold;
}