.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  background: #ffffff;
  border-bottom: 1px solid #e1e1e1;
}

.toolbar__dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: 10px;
}
