.side-menu {
  display: flex;
  flex-direction: column;
  flex: 5%;
  position: relative;
  height: 100vh;
  gap: 5px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.side-menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 1.25rem 0 0;
  background: #ffffff;
  border-bottom: 1px solid #e1e1e1;
}

.header__btn-menu {
  width: 64px;
  height: 50px;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #1a120b;
}

.header__title-menu {
  font-size: 22px;
  font-weight: bold;
  color: #1a120b;
}

.side-menu__btn {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  gap: 16px;
  cursor: pointer;
  text-align: left;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #272829;
  background: transparent;
  border: none;
  border-radius: 10px;
}

.side-menu__btn:not(.side-menu__btn-active):hover {
  background: #cfd2cf;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.6s;
}

.side-menu__btn-active {
  background-color: #ff0303;
  color: #fff;
  font-weight: bold;
}

.btn__icon-items {
  font-size: 24px;
}
