/* Contenedor principal del menu de navegacion */
.sidemenu {
  height: 100vh;
  position: fixed;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

/* Cabecera del menu de navegacion */
.sidemenu__header {
  height: 75px;
  background: #ffffff;
  border-bottom: 1px solid #e1e1e1;
}

/* Titulo del menu */
.header__title-menu {
  font-size: 22px;
  font-weight: bold;
  color: #1a120b;
}

/* Items del menu lateral */
.side-menu__btn {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 30px 25px;
  gap: 16px;
  cursor: pointer;
  text-align: left;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #272829;
  background: transparent;
  border: none;
  border-radius: 10px;
}

/* Hover a los items del menu*/
.side-menu__btn:hover {
  background: #ff0303;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.6s;
  color: #fff;
}

/* Iconos del menu */
.btn__icon-items {
  font-size: 24px;
}