.login {
  position: relative;
  display: flex;
  width: 430px;
  height: 520px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(8, 7, 7, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  color: #333;
  border-radius: 20px;
  padding: 30px 40px;
  overflow: hidden;
}

.login::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 140%;
  background-color: #ff0303;
  box-shadow: 0 0 60px #7d0a0a;
  animation: animate 4s linear infinite;
  z-index: -2;
}

.login::after {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: #f5f7f8;
  border-radius: 16px;
  z-index: -2;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form__title-login {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bolder;
}

.form__input-box-login {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.form__input-box-login input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgb(#fff);
  border-radius: 15px;
  font-size: 16px;
  color: #333;
  padding: 20px 45px 20px 20px;
  font-family: "Poppins", sans-serif;
}

.form__input-box-login input::placeholder {
  color: #333;
}

.form__remember label input {
  accent-color: #333;
  margin-right: 5px;
}

.form__remember a {
  color: #00a9ff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 8px;
}

.form__remember a:hover {
  text-decoration: underline;
  color: #362fd9;
}

.form__btn-login {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background: #ff0303;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.form__btn-login:hover {
  background: #d21312;
}

.form__register-link {
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
}

.form__register-link .register-link__p span {
  margin-left: 10px;
  font-weight: bold;
  color: #00a9ff;
}

.form__register-link .register-link__p span:hover {
  text-decoration: underline;
  color: #362fd9;
}
