/* Estilos globales */
:root {
  --color-background-light: #eff0f6;
  --color-background-dark: #0C2D57;
}

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}